// This page is reached after the user is logged in
- if current_user
  %div.row
    %h3
      =link_to "My Stats", stats_path, { class: "my-stats" }
  %div.row
    %h3
      = link_to 'Find Nearby', nearby_path, {class:  'find-nearby'}
  %div.row
    %h3
      = link_to 'Import', import_vehicles_path, class: 'btn btn-primary'
