%body.stats-page
  - current_user.moji_vehicles.each do |v|
    - Trip.where(moji_vehicle_id: v.id).each do |t|
      %H3
        = v.moji_vehicle_id
      %H3
        Distance Travelled:
        = t.distance
        meters
      %H3
        Fuel Efficiency: 
        = t.fuel_efficiency
        km/L
      %H3
        Gas Used:
        = t.gas_used

