.col-md-8.col-md-offset-2.stats-page
  %H3
    Your average Fuel Efficiency this week is:
    = @fuel.to_s + ' km/L'
  %H3
    Money saved if carpooling this week
    = @money.to_s + ' CAD'
  %H3
    Distance Traveled
    = @distance.to_s + ' km'
