/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background-color: #EFEFEF;
  margin: 0;
  background-image: image_url('city.png');
  color: whitesmoke;
  input {
    color: black;
  }
}
.content {
  width: 100%;
}

.col-md-12 {
  margin-top: 20px;

}

.field {
  padding: 10px;
}

.formdiv {
  opacity: 0.85;
  background-color: #2B2D2A;
  width: 400px;
  -webkit-box-shadow: 28px 10px 25px 7px rgba(0,0,0,0.91);
  -moz-box-shadow: 28px 10px 25px 7px rgba(0,0,0,0.91);
  box-shadow: 28px 10px 25px 7px rgba(0,0,0,0.91);

}

.field{
  opacity: 1;
}

.statsfield{
  width: 800px;
  text-align: center;
  opacity: 0.85;
  background-color: #2B2D2A;
  -webkit-box-shadow: 28px 10px 25px 7px rgba(0,0,0,0.91);
  -moz-box-shadow: 28px 10px 25px 7px rgba(0,0,0,0.91);
  box-shadow: 28px 10px 25px 7px rgba(0,0,0,0.91);
}