// Place all the styles related to the matches_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.matches-table {
  margin-top: 20px;
  td, th {
    padding: 0 20px 0 20px;
  }
  tr {
    height: 40px;
    padding: 20px 0 20px 0;
  }
}
tr.confirmed {
  background-color:  #263300;
}
.datafield{
  opacity: 0.85;
  background-color: #2B2D2A;
}