#main-nav
  %div.nav-items.row
    %div.title-div.col-md-8
      %H1.title Mojio Ride Share App
    %div.login-btns.col-md-4
      %button.button.btn-default.btn-lg.nav-button press em
      %button.button.btn-default.btn-lg.nav-button press em
