#main-nav.navbar.navbar-default
  %div.nav-items.row
    %div.title-div.col-md-8
      = link_to 'MojioRaptor', root_path, {:class => "title"}
    %div.login-btns.col-md-4
      -#%button.button.btn-default.btn-lg.nav-button press em
      -#%button.button.btn-default.btn-lg.nav-button press em
